.DS_Store
*.hex

.vscode/settings.json

/*/Project/MDK5/Objects/
/*/Project/MDK5/Listings/
/*/Project/MDK5/out/
/*/Project/MDK5/tmp/
/*/Project/MDK5/.clangd
/*/Project/MDK5/*.uvguix.*
/*/Project/MDK5/*.cbuild-idx.yml
/*/Project/MDK5/*.cbuild-set.yml
/*/Project/MDK5/*.cbuild.yml
/*/Project/MDK5/*.cbuild-run.yml
